[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"autopep8" = "*"
"flake8" = "*"
"h5py" = "*"
ipyparallel = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
keras = "*"
numpy = "*"
pandas = "*"
# plaidbench = "*"  # To avoid vulnerability CVE-2018-18074.
plaidml-keras = "*"
pydocstyle = "*"
pydot = "*"
pytest = "*"
sklearn = "*"
yamllint = "*"
pycodestyle = "*"
urllib3 = ">=1.23"  # To avoid vulnerability CVE-2018-20060.
requests = ">=2.20.0"  # To avoid vulnerability CVE-2018-18074.

[dev-packages]

[requires]
python_version = "3.7"
