[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"autopep8" = "*"
"flake8" = "*"
"h5py" = "*"
ipyparallel = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
keras = "*"
numpy = "*"
pandas = "*"
plaidbench = "*"
plaidml-keras = "*"
pydocstyle = "*"
pydot = "*"
pytest = "*"
sklearn = "*"
yamllint = "*"
pycodestyle = "*"

[dev-packages]

[requires]
python_version = "3.7"
